# Build artifacts
/sysroot/*
!/sysroot/.gitkeep

/tmp/*
!/tmp/.gitkeep

/output/*
!/output/.gitkeep

/build/*
!/build/.gitkeep

/archlinux/
/grub4dos

# Editor and OS temporary files
/.vscode/
/.idea/
*.swp
*.swo
*~
.DS_Store

/edgeone/
/reinstall/
busybox_oray
opendoas-6.8.2.tar.xz
